* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: #eee;
}

.board {
    border: 2px solid black;
    background: #ddd;
    display: flex;
    flex-wrap: wrap;
}

.square:nth-child(even) {
    background: grey;
}

.snakeBody {
    background: black !important;
    z-index: 2;
}

.food {
    z-index: 1;
    background: green !important;
}